<a href="https://colab.research.google.com/github/kaisyaoktina/KKASemester1/blob/main/2_Tipe_Variabel_Kaisya_OM_XI_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama : Kaisya Oktina Mawaddah

Kelas : XI-1

No.absen : 21

#Konsep Dasar

In [ ]:
email_user_1 = "kaisyaoktina.2025@gmail.com"
print(email_user_1)

kaisyaoktina.2025@gmail.com

In [ ]:
sabun_shinzui = 10000

print(sabun_shinzui)

10000

In [ ]:
print(sabun_shinzui*5)

50000

#Peraturan Penulisan Variabel

In [ ]:
# Penulisan variabel hanya boleh menggunakan huruf, angka, dan underscore
# Tidak boleh menggunakan spasi

nama siswa = "Kaisya"

print(nama siswa)

SyntaxError: invalid syntax (ipython-input-3625216406.py, line 3)

In [ ]:
# Tidak boleh diawali dengan angka

1_nama_siswa = "Kaisya"

print(1_nama_siswa)

SyntaxError: invalid decimal literal (ipython-input-1047313416.py, line 3)

In [ ]:
# Penulisan variabel itu case sensitive/sensitif capslock

nama_siswa_1 = "Kaisya"

print(Nama_siswa_1)

NameError: name 'Nama_siswa_1' is not defined

In [ ]:
# Dilarang menggunakan kata kunci di Bahasa Python : if, class, for, print, dll

prin = "Kaisya"

print(prin)

Kaisya

In [ ]:
end = "Kaisya"

print(end)

Kaisya

In [ ]:
# Tidak Deskriptif
# Bisa tapi tidak jelas/tidak deskriptif
_ = "Kaisya"

print(_)

#yang seharusnya:
nama_pelanggan = "Kesaa"

print(nama_pelanggan)

Kaisya
Kesaa

In [ ]:
# Tidak boleh pakai kata kunci Python
# Kalau eror, harus disconnect dulu
# print = "Kaisya"

#print(print)

#Assigment

##Single Assignment

In [ ]:
nama_siswa_2 = "Dhapne"
nama_siswa_3 = "Farel"

print(nama_siswa_2)
print(nama_siswa_3)

Dhapne
Farel

##Multiple Assignment

In [ ]:
nama_siswa_4, nama_siswa_5 = "Sada", "Shello"

print(nama_siswa_4)
print(nama_siswa_5)

Sada
Shello

##Assign ke Banyak Variabel Sekaligus

In [ ]:
nilai_kaisya = nilai_fazila = 100

print(nilai_kaisya)
print(nilai_fazila)

100
100

##Perubahan Nilai Variabel

In [ ]:
nilai_kaisya = 96

print(nilai_kaisya)

96

#Latihan Soal: Harga Barang di Swalayan

Seorang kasir sedang mencatat harga beberapa barang di swalayan. Bantulah kasir dengan membuat program Python yang melakukan

##Single Assignment

In [ ]:
harga_susu = 15000
harga_roti = 12000
harga_telur = 24000

print(harga_susu)
print(harga_roti)
print(harga_telur)

15000
12000
24000

##Multiple Assignment

In [ ]:
harga_gula, harga_minyak = 14000, 20000

print(harga_gula)
print(harga_minyak)

14000
20000

##Pengisian Nilai Sama

In [ ]:
harga_mie_ayam = harga_mie_soto = harga_mie_kari = 3500

print(harga_mie_ayam)
print(harga_mie_soto)
print(harga_mie_kari)

3500
3500
3500

##Swap (Tukar Nilai)

In [ ]:
harga_roti = 15000
harga_susu = 12000

In [ ]:
print(harga_roti)
print(harga_susu)

15000
12000

##Perubahan Nilai Variabel

In [ ]:
# Mengalami diskon

harga_telur = 24000 - 2000
harga_minyak = 20000 + 3000

print(harga_telur)
print(harga_minyak)

22000
23000

#Aritmatika

In [ ]:
print("5000*3")

5000*3

In [ ]:
# Operand tanpa disimpan dalam variabel

print(5000*3)

15000

In [ ]:
# Simpan operand ke dalam variabel

harga_kojek = 6000
banyak_porsi = 3

print(harga_kojek*banyak_porsi)

18000

In [ ]:
# Simpan hasil operasi ke dalam variabel

harga_total_kojek = 3000*3

print(harga_total_kojek)

9000

In [ ]:
# Simpan nilai operasi dan hasil operasi ke dalam variabel

harga_cilok = 10000
jumlah_porsi_cilok = 5
harga_total_cilok = harga_cilok*jumlah_porsi_cilok

print(harga_total_cilok)

50000

In [ ]:
uang_yang_diterima = 100000
uang_kembalian = uang_yang_diterima - harga_total_cilok

print(uang_kembalian)

50000

#Soal

Satu kardus berisi 24 botol minum. Jika ada 3 kardus, berapa jumlah botol?

In [ ]:
print(24*3)

72

In [ ]:
total_jumlah_botol = 24*3

print(total_jumlah_botol)

72

In [ ]:
banyak_botol_per_kardus = 24
jumlah_kardus = 3

print(banyak_botol_per_kardus*banyak_kardus)

72

In [ ]:
banyak_botol_per_kardus = 24
jumlah_kardus = 3
total_jumlah_botol = 24*3

print(total_jumlah_botol)

72

#Tipe Variabel

In [ ]:
usia = 17

type(usia)

int

In [ ]:
berat_telur = 2.5

type(berat_telur)

float

In [ ]:
nama = "Kaisya"

type(nama)

In [ ]:
remidi = False

type(remidi)

bool

In [ ]:
remidi = True

type(remidi)

bool

In [ ]:
koordinat_bintang = -1.5

type(koordinat_bintang)

float

In [ ]:
koordinat_titik = -8

type(koordinat_titik)

int

#Input

In [ ]:
panjang = 10
lebar = 5
luas = panjang*lebar

print(luas)

50

In [ ]:
input()

10

'10'

In [ ]:
panjang = input()

10

In [ ]:
print(panjang)

10

In [ ]:
lebar = input()

5

In [ ]:
print(lebar)

5

In [ ]:
luas = panjang*lebar

print(luas)

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
type(panjang)

str

In [ ]:
type(lebar)

str

In [ ]:
panjang = int(panjang)

In [ ]:
lebar = int(lebar)

In [ ]:
type(panjang)

str

In [ ]:
panjang_1 = int(input("Masukan panjang persegi: "))

Masukan panjang persegi: 10

In [ ]:
panjang_2 = int(input("Masukan panjang persegi: "))
lebar_2 = int(input("Masukan lebar persegi: "))

luas_2 = panjang_2*lebar_2

print(f"Luas persegi panjang adalah {luas_2} cm^2")

Masukan panjang persegi: 4
Masukan lebar persegi: 10
Luas persegi panjang adalah 40 cm^2

In [ ]:
#Tugas Menghitung Volume Balok

panjang = int(input("Masukkan panjang Balok (dalam cm): "))
lebar = int(input("Masukkan lebar Balok (dalam cm): "))
tinggi = int(input("Masukkan tinggi Balok (dalam cm): "))

volume = panjang*lebar*tinggi

print(f"Volume Balok adalah: {volume} cm^2")

Masukkan panjang Balok (dalam cm): 10
Masukkan lebar Balok (dalam cm): 5
Masukkan tinggi Balok (dalam cm): 4
Volume Balok adalah: 200 cm^2

#Konversi Tipe Data

In [ ]:
a = 3

print(a)
type(a)

3

int

In [ ]:
a = float(a)

print(a)
type(a)

3.0

float

In [ ]:
a = str(a)

print(a)
type(a)

3.0

str

In [ ]:
a = bool(a)

print(a)
type(a)

True

bool

In [ ]:
b = "cicak"
print(b)

b = bool(b)
print(b)

cicak
True

In [ ]:
c = ""
print(c)

c = bool(c)
print(c)

False

In [ ]:
d = False

print(d)
type(d)

False

bool

In [ ]:
e = "False"

print(e)
type(e)

False

str

#Operator Perbandingan

In [2]:
print(8<5)

False

In [1]:
print(8>5)

True

In [3]:
print(9>=9)

True

In [4]:
print(8 == 5)

False

In [5]:
print(8 == 8)

True

In [6]:
print(1 != 1)

False

In [7]:
a = 10
b = 20
c = 30

print(a>c)

False

In [8]:
print(a>30)

False

In [9]:
nilai_kka = 75
kkm_kka = 80

print(nilai_kka > kkm_kka)

False

#Operator Logika

In [10]:
print(8>7 and 5>6)

False

In [11]:
print(8>7 and 5<6)

True

In [12]:
print(8>7 or 5>6)

True

In [13]:
print(not(8>7 or 5>6))

False

In [14]:
print(not(8>=9 or 9 != 8))

False

In [15]:
iq_min = 125
tinggi_min = 165

print(125 >= iq_min and 170 >= tinggi_min)

True

In [16]:
iq_afa = 125
tinggi_afa = 170

print(iq_afa >= iq_min and tinggi_afa >= tinggi_min)

True

In [20]:
# Soal Pendaftaran Taruna
# Syarat:
tinggi_min = 165
BB_min = 50
umur_max = 25

tinggi_farrel = 170
BB_farrel = 55
umur_farrel = 23

print(tinggi_farrel >= tinggi_min and BB_farrel >= BB_min and umur_farrel <= umur_max )

True